html,body{
    height:100%;
    width:100%;
}
body{
    background: #2C3E50;
}
.text-center{
    text-align: center;
}
.padding-main{
    padding-top:50px;
    padding-bottom:50px;
}
.heading{
    color: #FFF;
    margin-bottom: 30px;
    border-bottom: 3px solid #337ab7;
    display: inline-block;
    padding-bottom: 5px;
    position: relative;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    font-size: 32px;
}
div.hr{
    width:90%;
    background: -webkit-gradient(linear,left top, right top,from(#34495e),color-stop(#D0D0D0),color-stop(#FFF),color-stop(#D0D0D0),to(#34495e));
    background: -webkit-linear-gradient(left,#34495e,#D0D0D0,#FFF,#D0D0D0,#34495e);
    background: -o-linear-gradient(left,#34495e,#D0D0D0,#FFF,#D0D0D0,#34495e);
    background: linear-gradient(90deg,#34495e,#D0D0D0,#FFF,#D0D0D0,#34495e);
    border-radius: 100%;
    height:1px;
    margin:auto;
}
li{
    list-style: none;
}
/*header start*/
.media-icon{
    color:#fff;
    background: #34495e;
    height:34px;
    overflow:hidden;
    /*position:absolute;*/
    /*position:fixed;*/
    line-height:30px;
    top:0;
    left:0;
    width:100%;
    border-bottom: 4px solid #337ab7;
    z-index: 1000;
}
#hi{
    text-align:center;
}
/*header end*/

/*nav start*/
nav{
    height:100px;
    position:absolute;
    top:34px;
    left:0;
    width:100%;
    background: #34495e;
    transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    /*position: fixed;*/
    z-index: 1000;
}
.fixednav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
}
nav li{
    width:20%;
    float:left;
    font-size:16px;
    color: #ffffff;
    transition:all 0.2s linear;
    -webkit-transition:all 0.2s linear;
    -moz-transition:all 0.2s linear;
    -o-transition:all 0.2s linear;
    padding:19px 0;
    cursor: pointer;
}
nav li:hover{
    background: #337ab7;
    border-bottom: 4px #337ab7 solid;
}
nav .active{
    background: #337ab7;
    border-bottom: 4px #FFFFFF solid;
}
nav ul .active:hover{
    background: #337ab7;
    border-bottom: 4px #FFFFFF solid;
}
nav li a{
    color: #ffffff;
    background-color:transparent;
}
a:link,a:visited,a:hover,a:active{
    color: #ffffff;
}
nav li a span{
    font-size:30px;
}
@media (max-width:767px) {
    nav{
        height:60px;
    }
    .text-center ul li {
        padding:10px 0;
    }
    .text-center ul div{
        display: none;
    }
}
/*nav end*/

/*section home start*/
#home{
    height:100%;
    width:100%;
    background:url("../img/home.png") no-repeat;
    background-size:cover;
}
#home div{
    height: 100%;
    width: 100%;
    background-color: rgba(52, 73, 94, 0.4);
    border: 5px solid rgba(255,255,255,.1);
}
#home div h1{
    font-size: 4em;
    color: #ffffff;
    margin:20px 0 10px 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    position:relative;
    top:50%;
    transform: translateY(-50%);
    text-align: center;
    transition:all 0.4s linear;
    -webkit-transition:all 0.4s linear;
    -moz-transition:all 0.4s linear;
    -o-transition:all 0.4s linear;
}
@media (max-width:767px) {
    #home div h1{
        font-size: 3em;
    }
}
@keyframes flash {
     0% {
         visibility: visible;
     }
     100% {
         visibility: hidden;
     }
 }
#typewriter:after {
    content: "|";
    animation: flash .6s steps(2, start) infinite;
}
/*section home end*/

/*section about start*/
#about{
    color: #ffffff;
}
@media (max-width: 767px){
    .heading{
        font-size: 28px;
        font-weight: 100;
    }
}
.heading::after,
.heading::before{
    content:"";
    position: absolute;
    top: 83.7%;
    left:-15px;
    height:15px;
    width:15px;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: transparent;
    border:3px solid #337ab7;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-box-shadow: inset 0 0 0 3px #FFF;
    box-shadow: inset 0 0 0 3px #FFF;
}
.heading::before{
    left:auto;
    right:-15px;
}
#about{
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#about ul li{
    line-height:58px;
    font-size: 1.7rem;
    text-align: left;
    padding-left:20px;
    cursor:pointer;
}
#about ul li:hover{
    -webkit-box-shadow: inset 0 0 50px rgba(255,255,255,.05),
    0 0 7px rgba(255,255,255,.3);
    box-shadow: inset 0 0 50px rgba(255,255,255,.05),
    0 0 7px rgba(255,255,255,.3)
}
@media (max-width:991px) {
    #about ul{
        clear:both;
    }
    #about ul li{
        line-height:20px;
        text-align: center;
        padding-top:10px;
        padding-left:0;
        padding-bottom:10px;
    }
}
#about .h1 + p{
    width:90%;
    margin: 30px auto;
    color:#D0D0D0;
    line-height: 1.7;
}
#about h3{
    color:#FFF;
    text-transform: uppercase;
    font-weight: 100;
}
#about h3 + span{
    font-size: 50px;
    color: #AAA;
    margin-bottom: 15px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#about h3 ~ p{
    color: #D0D0D0;
    line-height: 1.7;
    padding:0 2px;
}
#about .row > div > div{
    padding-top: 20px;
    padding-bottom: 30px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    -webkit-box-shadow: inset 0 0 50px rgba(255,255,255,.05);
    box-shadow: inset 0 0 50px rgba(255,255,255,.05);
    margin-top: 20px;
    margin-bottom: 20px;
}
#about .row > div > div:hover{
    -webkit-box-shadow: inset 0 0 50px rgba(255,255,255,.05),
    0 0 7px rgba(255,255,255,.3);
    box-shadow: inset 0 0 50px rgba(255,255,255,.05),
    0 0 7px rgba(255,255,255,.3);
}
#about .row > div > div:hover span{
    color:#337ab7;
}
/*section about end*/

/*section skill start*/
#skills{
    color: #ffffff;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
#skills h2{
    margin-bottom:80px
}
#skills .col-md-4 p{
    margin-top: 15px;
    color:#FFF;
    font-size: 18px;
    position: relative;
}
.circle {
    margin: 20px auto 0;
    width: 140px;
    height: 140px;
    position: relative;
    display: inline-block;
}
.circle ~ p {
    font-size: 18px;
}
#skills div.lead li{
    text-align: left;
}
#skills .taps > span{
    display: block;
    height:50px;
    line-height: 50px;
    font-size: 20px;
    color:#DDD;
    padding-left:35px;
    background-color:rgba(30, 144, 255, 0.2);
    cursor: pointer;
    position: relative;
}
#skills .taps > span::after{
    position: absolute;
    top:0;
    right:30px;
    color:#AAA;
    content:"+";
    font-size: 30px
}
#skills .taps > span + div{
    padding:25px 10px;
    color:#FFF;
    background-color:rgba(0, 0, 0, 0.35);
    margin:0;
}
#skills .taps > span:not(:first-of-type) + div{
    display: none
}
.span-active{
    background-color:rgba(30, 144, 255, 0.6) !important;
    color:#FFF !important;
}
.span-active::after{
    content:"-" !important;
}
/*section skill end*/

/*section works start*/
.transformation h2{
    margin-bottom: 100px;
}
.transformation .row > .col-sm-6 > div{
    position: relative;
    max-height: 250px;
    margin-bottom: 40px;
    background-image: url("../img/site-1.png");
    background-size: cover;
    min-height: 250px;
    background-position: center center;
    background-repeat: no-repeat;
    border: 10px solid #34495e;
    -webkit-box-shadow: inset 0 0 0 250px rgba(0,0,0,.3);
    box-shadow: inset 0 0 0 250px rgba(0,0,0,.3);
    overflow: hidden;
}
.transformation .row > .col-sm-6:nth-of-type(2) > div{
    background-image: url("../img/site-2.jpg");
}
.transformation .row > .col-sm-6:nth-of-type(3) > div{
    background-image: url("../img/site-3.png");
}
.transformation .row > .col-sm-6:nth-of-type(4) > div{
    background-image: url("../img/site-4.jpg");
}
.transformation .row > .col-sm-6:nth-of-type(5) > div{
    background-image: url("../img/site-5.jpg");
}
.transformation .row > .col-sm-6:last-of-type > div{
    background-image: url("../img/site-6.jpg");
}
.transformation .hov-img{
    height:250px;
    width:100%;
    position: relative;
    top:0;
    left:0;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
}
.transformation .hov-img > div{
    height:100%;
    width:50%;
    position: absolute;
    top:0;
    left:-50%;
    background-color:#2C3E50;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}
.transformation .hov-img:hover > div:first-of-type{
    left:0;
}
.transformation .hov-img > div:last-of-type{
    left:100%;
}
.transformation .hov-img:hover > div:last-of-type{
    left:50%;
}
.transformation .hov-img > div:nth-of-type(2) a,
.transformation .hov-img > div:nth-of-type(2){
    z-index: 9;
    width: 100%;
    color:#FFF;
    font-size: 18px;
    background:none;
    left:0;
}
.transformation .hov-img > div:nth-of-type(2) a i{
    height:60px;
    width:60px;
    background-color:rgba(255,255,255,.1);
    border-radius: 50%;
    line-height: 60px;
    text-align: center;
    position: relative;
    top:-60px;
    left:5px;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}
.transformation .hov-img > div:nth-of-type(2) a:hover i{
    background-color:#337ab7;
}
.transformation .hov-img:hover > div:nth-of-type(2) a i{
    top:85px;
}
.transformation .hov-img > div:nth-of-type(2) > i{
    position: absolute;
    right:15px;
    bottom:-30px;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
}
.transformation .hov-img:hover > div:nth-of-type(2) > i{
    bottom:30px;
}
.projects h2{
    margin-bottom: 100px;
}
@media(max-width:767px){
    .temp-info{
        text-align: center !important;
        padding:20px 0;
    }
}
.projects .row > div img{
    width:100%;
    position: relative;
    top:0;
    left:0;
    -webkit-transition: all 15s linear;
    -o-transition: all 15s linear;
    transition: all 15s linear;
}
.projects .row > div img:hover{
    top:-1890px;
}

.edit-padding{overflow: hidden;
    padding:0 !important;
    height:423px;
}
.temp-info{
    text-align: left;color:#FFF
}
.temp-info h4{
    font-size: 25px;
    margin-bottom: 25px;
}
.temp-info span{
    font-size: 18px;
    margin-right:10px;
    color:#D0D0D0;
}
.temp-info p{
    margin-top: 25px;
}
/*section works end*/

/*section contact start*/
#contact h2{
    margin-bottom: 80px;
}
#contact h4{
    font-size: 20px;
    color:#FFF;
    display: inline-block;
    border-bottom: 4px solid #1E90FF;
    padding-bottom: 5px;
    margin-bottom: 30px;
}
#contact .col-sm-4{
    margin-bottom: 35px;
}
@media(min-width: 768px){
    #contact .col-sm-4{
        text-align: left;
    }
}
#contact h4 ~ p a,
#contact h4 ~ p{
    color:#DDD;
    font-size: 18px;
}
#contact h4 ~ p{
    margin-bottom: 15px;
}
#contact h4 ~ p i{
    font-size: 25px;
    color:#1E90FF;
    position: relative;
    top:2px;
}
#contact form input,
#contact form > textarea,
#contact form > button{
    display: block;
    width:100%;
    margin-bottom: 20px;
}
#contact form > textarea{
    max-width: 100%;
    min-height: 100px;
    height:200px;
    resize:none;
}
#contact form > textarea,
#contact form input{
    padding: 15px 10px;
    border:none;
    /*background:none;*/
    font-size: 18px;
    color:#FFF;
    background-color: rgba(0,0,0,.3);
}

#contact form input{
    padding-left:40px;
}
#contact form > .input{
    position: relative;
    z-index: 1;
}
#contact form span{
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
}
#contact form input + span::before,
#contact form input + span::after{
    content:"";
    position: absolute;
    top:100%;
    left:0;
    height:3px;
    -webkit-transition: all .4s linear;
    -o-transition: all .4s linear;
    transition: all .4s linear;
    width:0;
    background-color:#1E90FF;
}
#contact form input:focus ~ span::after{
    width:100%;
}
#contact form input:focus ~ span::before{
    color:#1E90FF;
}
.btn{
    color:#FFF;
    padding:10px 40px;
    font-size: 20px;
    background: none;
    border:2px solid #1E90FF;
    border-radius: 3px;
    margin-top: 5px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    outline: none
}
.btn::after{
    content:"";
    position: absolute;
    top:0;
    left:0;
    height:100%;
    width:100%;
    z-index: -1;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
.btn:hover::after{
    -webkit-box-shadow: inset 0 0 0 25px #1E90FF;
    box-shadow: inset 0 0 0 25px #1E90FF;
}
/*section contact end*/

/*footer start*/
footer{
    height:50px;
    overflow: hidden;
    color:#FFF;
    background-color:#34495e;
    -webkit-box-shadow: 0 0 7px #333,
    inset 0 0 7px rgba(51,51,51,.4);
    box-shadow: 0 0 7px #333,
    inset 0 0 7px rgba(51,51,51,.4);
}
footer h5{
    line-height: 35px;
}
footer .list-unstyled li{
    color:#FFF;
    display: inline-block;
}
footer .list-unstyled li a i{
    font-size: 20px;
    height:50px;
    padding:0 15px;
    color:#FFF;
    line-height: 50px;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
}
footer .list-unstyled li:hover{
    background-color:#1E90FF;
}
.tip{
    position: absolute;
    border: 1px solid #000;
    background-color: #ccc;
}
/*footer end*/

